body {
  background-color:rgb(199, 109, 77);
}
.card-title {
  border: 1px solid lightblue;
  text-align: center;
}
.card-text {
  text-align: center;
}
.container {
  display: flex;
  justify-content: space-between;
}
.card {
  margin: 10px;
}
.specifications {
  display: inline-flex;
  margin-left: 5px;
  font-weight: bold;
}
.specs {
  margin-left: 5px;
  text-align: center;
} 
.pricing {
  font-weight: bold;
}
.av {
  color:yellow;
  background-color: darkgrey;
  text-align: center;
}
